:root {
    --primary-color: #674A00  ;
    --secondary-color: #2F2200 ;
    --accent1-color: #FFBE19;
    --accent2-color: #F7F3E7;
  
    --heading-font: "Lato";
    --paragraph-font: "Lato";
  }
  
  html {
    background-color: var(--accent2-color);
  }

  body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0em 4em 4em 4em;
    font-size: 18px;
    text-align: center;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }
  h2 {
    text-align: center;
  }
  hr {
    height: 2px;
    margin: 30px 0;
    background: var(--accent1-color);
  }

  header .logo {
    height: 15rem;
  }

  header .header-info {
    width: 100%;
    padding: 1rem 0px 0px 0px;
  }

  header {
    align-items: start;
    display: flex;
    text-align: center;
    color: var(--secondary-color);
  }

  @media (max-width: 768px) {
    header {
        display: block;
    }
  }

  header > h1, header > h2 {
    color: var(--secondary-color);
  }
  
  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    color: var(--accent2-color);
    background-color: var(--primary-color);
  }

  .colors td{
    width: 25%;
    height: 3em;
  }
  
  .primary {
    color: var(--accent2-color);
    background-color: var(--primary-color);
  }
  .secondary {
    color: var(--accent2-color);
    background-color: var(--secondary-color);
  }
  .accent1 {
    color: var(--secondary-color);
    background-color: var(--accent1-color);
  }
  .accent2{
    color: var(--secondary-color);
    background-color: var(--accent2-color);
  }
  
  p.colored {
    background-color: var(--secondary-color);
    color: var(--secondary-color);
  }
  
  nav {
    background-color: var(--secondary-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
  }
  nav  {
    list-style-type: none;
    display: flex;
  
  }
  nav a {
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  
  }
  nav a:link, nav a:visited {
    color: var(--secondary-color);
  }
  nav a:hover {
    color: var(--secondary-color);
    background-color: var(--secondary-color);
  }
  
  .sitemap {
    color: var(--accent1-color);
    display: grid;
    justify-content: center;
  
    grid-template-columns: repeat(6, 15%);
    grid-template-rows: 3em 1.5em 1.5em 3em;
    grid-template-areas: ". . home home . ."
      ". . . top . ."
      ". left left right right ."
      "page2 page2 . . page3 page3";
  }
  .sitemap > div {
  
    text-align: center;
  
  }
  .sm-home {
    grid-area: home;
    background-color: var(--primary-color);
    line-height: 3em;
  }
  .sm-page2 {
    grid-area: page2;
    background-color: var(--primary-color);
    line-height: 3em;
  }
  .sm-page3 {
    grid-area: page3;
    background-color: var(--primary-color);
    line-height: 3em;
  }
  
  .top {
    grid-area: top;
    border-left: 1px solid;
  }
  
  .left {
    grid-area: left;
    border-top: 1px solid;
    border-left: 1px solid;
  }
  
  .right {
    grid-area: right;
    border-top: 1px solid;
    border-right: 1px solid;
  }